<div>
    <a href="#!/" class="btn btn-sm btn-default">Back</a>
    <h2>Guess the Accepted Answer</h2>
    <form method="post">
        <h3>{{vm.Title}}</h3><br />
        <div>
            <p>{{vm.Body}}</p>
            <ul>
                <li ng-repeat="answer in vm.Answers">
                    <div>
                        {{answer.body}}
                    </div>
                </li>
            </ul>
            <div>
                <input type="submit" value="Select Answer" />
            </div>
        </div>
    </form>
</div>
