<div>
    <div>
        <a href="#!/" class="btn btn-sm btn-default"><i class="fa fa-caret-left"></i> Back</a>
    </div>
    <h2>Guess the Accepted Answer</h2>
    <form name="guessAnswer" ng-submit="saveGuess()">
        <h3 ng-bind-html="trustAsHtml(vm.Title)"></h3><br />
        <div>
            <p ng-bind-html="trustAsHtml(vm.Body)"></p>
            <ul class="list-group">
                <li ng-repeat="answer in vm.Answers" class="list-group-item">
                    <div ng-click="vm.Guess = answer" ng-bind-html="trustAsHtml(answer.body)"></div>
                </li>
            </ul>
            <div>
                <input type="submit" value="Select Answer"/>
            </div>
        </div>
    </form>
</div>
