<div>
    <a href="#!/" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i>Back</a>
    <h2>Guess the Accepted Answer</h2>
    <form method="post">
        <h3>Question Title</h3><br />
        <div>
            <p>Question Body</p>
            <div>
                <ul>
                    <li>Answer 1</li>
                    <li>Answer 2</li>
                    <li>Answer 3</li>
                </ul>
            </div>
            <div>
                <input type="submit" value="Select Answer" />
            </div>
        </div>
    </form>
</div>
