@{
    ViewData["Title"] = "Questions";
}

@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app-questions.js"></script>
    <script src="~/js/questionsController.js"></script>
    <script src="~/js/questionGuessController.js"></script>
}

<h2>Questions</h2>
<div class="row" ng-app="app-questions">
    <div ng-view></div>
</div>