@{
    ViewData["Title"] = "Questions";
}

@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/js/app-questions.js"></script>
    <script src="~/js/questionsController.js"></script>
    <script src="~/js/questionGuessController.js"></script>
    <script src="~/js/recentQuestionsController.js"></script>
}
<div class="row" ng-app="app-questions">
    <div ng-view></div>
</div>